.container {
    margin-top: 20px;

    height: auto;
    
}
img {
    max-inline-size: 80%;
    block-size:auto;
    display:flex;
    flex-direction: column;
}
.introtext{
    width: 600px;
}

.figure-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

figure .content1 {
    width: 300px;
    max-width: 300px;
} 
figure .content2 {
    width: 25%;
    order: 2;
} 
figure .content3 {
    width: 25%;
    order: 3;
} 
figure .content4 {
    width: 16%;
    order: 4;
} 
figure .content5 {
    width: 16%;
    order: 5;
} 
figure .content6 {
    width: 16%;
    order: 6;
} 


div .intro {
    width: 30px;
    margin:  15px 20px;
    max-inline-size: 100%;
    block-size: 30px;

}

figure div a {
    margin: 40px
}